body {
    margin: 0;
}
.tiptap {
    border: 1px solid #dedede;
    outline: unset;
    height: 500px;
    padding: 10px;
}
.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}
  
.tippy-box {
    max-width: unset !important;
}
.tippy-box .tiptap-controls {
    display: flex;
    gap: 5px;
}
.tippy-box .tiptap-controls button,
.tippy-box .tiptap-controls input {
    height: 30px;
    width: 30px;
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tippy-box .tiptap-controls button.active,
.tippy-box .tiptap-controls input.active {
    background: lightblue;
}
.tiptap-controls button svg {
    width: 20px;
    height: 20px;
}
.tiptap-controls button:hover {
    background-color: #f8f9fa;
}
.tiptap-controls button:focus {
    outline: none;
}
.fixed-controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
}