:root {
    --placeholderColor: #adb5bd;
    --fontColor: #333333;
    --highlightColor: #00b6ff;
    --tableHeaderBgColor: #f9f9f9;
    --controlsBgColor: #ffffff;
    --borderColor: #dedede;
    --tiptapPadding: 20px;
}

body {
    margin: 0;
    color: var(--fontColor);
}

table td, table th {
    border-width: 1px;
}
table td:hover, table th:hover, table th.selectedCell, table td.selectedCell {
    outline: 2px solid rgb(0 182 255 / 34%);
}
table th {
    background: var(--tableHeaderBgColor);
}

p {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

ul li {
    margin: 0 !important;
}